<p>Hallo <%= @full_name %>!</p>

<p>Diese E-Mail sagt dir einfach, dass dein Passwort auf PluraPolit geändert wurde.</p>

<p>Hier geht's zurück zu uns: <a href="https://plurapolit.de">plurapolit.de</a></p>

<p>
  Liebe Grüße,</br>
  Dein PluraPolit Team
</p>