<p>Hallo <%= @full_name %>,</p>

<p>jemand (wahrscheinlich du) hat einen Link angefordert, um dein Passwort bei PluraPolit zu ändern. Das kannst du unter folgendem Link machen:</p>

<p><a href=<%= @reset_password_url %>>Passwort zurücksetzen</a></p> 

<p>Wenn du dies nicht gefordert hast, dann ignoriere einfach diese E-Mail.</p>
<p>Dein Passwort wird sich nicht ändern, bis du auf den Link geklickt und das Passwort dort geändert hast.</p>

<p>
  Liebe Grüße,</br>
  Dein PluraPolit Team
</p>